body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #f8f8f8;
    direction: rtl;
    text-align: center;
}

.card {
    width: 85%;
    max-width: 380px;
    margin: 60px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 25px;
    color: #333;
}

.btn {
    display: block;
    background: #a855f7;
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    margin: 10px 0;
    font-size: 15px;
    transition: 0.2s;
}

.btn:hover {
    background: #9333ea;
}
