/* استایل کلی صفحه */
body {
    font-family: sans-serif;
    direction: rtl;
    text-align: center;
    margin-top: 100px;
}

/* عنوان صفحات */
h1 {
    color: #333;
    font-size: 32px;
}

/* لینک‌ها */
a {
    font-size: 20px;
    color: purple;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* استایل لیست محصولات */
ul {
    list-style: none; /* حذف نقطه‌ها */
    padding: 0;
    margin-top: 20px;
}

li {
    margin: 10px 0;
    font-size: 22px;
    color: #444;
}
