body {
    margin: 0;
    font-family: sans-serif;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 40px;
}

.card {
    width: 80%;
    max-width: 350px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.btn {
    display: block;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    background: #e8e8e8;
    text-decoration: none;
    color: black;
}

.btn.purple {
    background: #a44eff;
    color: white;
}

.product-img {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
}

.description {
    margin-top: 15px;
    color: #444;
    font-size: 14px;
    line-height: 1.8;
}
